<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<script type="text/javascript" src="vue.min.js"></script> 
<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"
></script>
<script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>


<button onclick="permission(1)">SeatBelt</button>
<button onclick="permission(2)">inhibited</button>
<button onclick="permission(3)">location</button>
 

<script>
function permission(getP){
switch(getP){
	case 1:
		vue.seatbelt=!vue.seatbelt;
		break;
	case 2:
		vue.inhibited=!vue.inhibited;
		break;
	case 3:
		vue.loc=!vue.loc;
		break;
}

var base_URL = '192.168.128.245:4567';

 $.get("http://driver123:secret234@"+base_URL+"/auth_test",
 function(status){
    alert("Status: " + status);
 });
 
 $.get("http://"+base_URL+"/permission",
 function(status,permissions){
    alert("Status: " + status+ "\n permission:" + permissions);
 });



}
</script>

<div id="app">
    <div v-if="seatbelt">
      Getting permission of SeatBelt is  {{ seatbelt }}
    </div>


    <div v-if="inhibited">
      Getting permission of inhibited is  {{ inhibited }}
    </div>

    <div v-if="loc">
      Getting permission of location is  {{ loc }}
    </div>

</div>

<script>
var vue = new Vue({
  el: '#app',
  data: {
  	seatbelt: false,
  	inhibited: false,
  	loc: false,
    todos: [
      { text: 'Getting permission of SeatBelt is' + this.seatbelt },
      { text: 'Getting permission of inhibited is' + this.inhibited},
      { text: 'Getting permission of location is' + this.loc}
    ]
  }
})
</script>



<script>
var base_URL = '192.168.128.245:4567';
var  wsServer = 'ws://' + base_URL + '/event'; 
var  websocket = new WebSocket(wsServer); 


function onOpen(evt) { 

	var result = {
  		driver_id: "string",
  		secret_id: "string",
  		filters: [
    		{name: "seatbelt", range: [0, 1, 2, 3]},
   		 	{name: "inhibited", range: ["airbag", "ESC"]},
   		 	{name: "location", range: [121.12121, 25.25252]}
  		]};
  	if (vue.seatbelt == true){
  		result.filters.push({name: "seatbelt", range: [0, 1, 2, 3]});
  	}
  	if (vue.inhibited == true){
  		result.filters.push({name: "inhibited", range: ["airbag", "ESC"]});
  	}
  	if (vue.loc == true){
  		result.filters.push({name: "location", range: [121.12121, 25.25252]});
  	}
     websocket.send(JSON.stringify(result));

} 

 websocket.onopen = function (evt) { onOpen(evt) }; 
 websocket.onclose = function (evt) { onClose(evt) }; 
 websocket.onmessage = function (evt) { onMessage(evt) }; 
 websocket.onerror = function (evt) { onError(evt) }; 


 function onClose(evt) { 
 console.log("Disconnected"); 
 } 

 function onMessage(evt) { 
 console.log('Retrieved data from server: ' + evt.data); 
 } 

 function onError(evt) { 
 console.log('Error occured: ' + evt.data); 
 }



</script>




</body>
</html>





